details.dropdown summary+ul li:has(hr) {
  padding: 0;
}

details {
  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition: content-visibility .2s allow-discrete, opacity .2s, block-size .2s;
  }

  &[open]::details-content {
    opacity: 1;
    block-size: auto;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: var(--pico-spacing);
  margin-bottom: var(--pico-spacing);

  >button[type=submit],
  * {
    width: auto;
    margin-bottom: 0;
  }

  &.spread {
    justify-content: space-between;
  }
}

:where(button, [role=button]) {
  &.success {
    --pico-background-color: var(--pico-color-green-600);
    --pico-border-color: var(--pico-color-green-600);
    border: var(--pico-border-width) solid var(--pico-color-green-600);

    &:is(:hover, :focus, :active) {
      --pico-background-color: var(--pico-color-green-500);
      --pico-border-color: var(--pico-color-green-500);
    }

    &:is(:focus) {
      --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) rgba(124, 255, 58, 0.356);
    }
  }

  &.warn {
    --pico-background-color: var(--pico-color-amber-600);
    --pico-border-color: var(--pico-color-amber-600);
    border: var(--pico-border-width) solid var(--pico-color-amber-600);

    &:is(:hover, :focus, :active) {
      --pico-background-color: var(--pico-color-amber-500);
      --pico-border-color: var(--pico-color-amber-500);
    }

    &:is(:focus) {
      --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) rgba(124, 255, 58, 0.356);
    }
  }

  &.danger {
    --pico-background-color: var(--pico-color-red-700);
    --pico-border-color: var(--pico-color-red-700);
    border: var(--pico-border-width) solid var(--pico-color-red-700);

    &:is(:hover, :focus, :active) {
      --pico-background-color: var(--pico-color-red-600);
      --pico-border-color: var(--pico-color-red-600);

      &:is(:focus) {
        --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--pico-outline-width) rgba(255, 58, 58, 0.356);
      }
    }
  }
}

.shrink-ui :where([role=button], [type=button], [type=file]::file-selector-button, [type=reset], [type=submit], button) {
  padding: calc(.5 * var(--pico-form-element-spacing-vertical)) calc(.5 * var(--pico-form-element-spacing-horizontal));
}

.shrink-table :where(th, td) {
  padding: calc(var(--pico-spacing) / 7) calc(var(--pico-spacing) / 2);
}

.badge {
  display: inline;
  border-radius: calc(var(--pico-border-radius) * 3);
  padding: .25em .5em;
  background: var(--pico-background-color);
  color: var(--pico-color);
  font-size: 11pt;
  text-align: center;
  vertical-align: baseline;
}

article.list {
  margin-inline: auto;
  padding: 0;
  border: 1px solid var(--pico-accordion-border-color);

  >div {
    padding: calc(var(--pico-spacing) / 2) var(--pico-spacing);
    cursor: pointer;

    &:hover {
      background: var(--pico-form-element-selected-background-color);
    }
  }

  >div:not(:last-child) {
    border-bottom: 1px solid var(--pico-accordion-border-color);
  }
}

#app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#app>main:has(.gantt) {
  flex: 1;
  display: flex;
  flex-direction: column;

  .gantt-wrap {
    flex: 1;
  }
}

.gantt-wrap {
  overflow: auto;
  max-width: 100dvw;
  border: 1px solid var(--pico-accordion-border-color);
  border-radius: var(--pico-border-radius);
  margin-bottom: 1em;
}

.gantt {
  position: relative;
  height: 100%;
  min-width: fit-content;
}

.slots {
  display: flex;
  height: 100%;

  >.slot {
    outline: 1px solid var(--pico-accordion-border-color);
    flex: 1;
    min-width: 80px;
    text-align: center;

    >.header {
      font-size: 11pt;
      padding: .5em .25em;
      background: rgba(0, 0, 0, 0.25);
    }

    &.weekend {
      background: var(--pico-accordion-border-color)
    }

    &.today {
      background: rgba(238, 232, 170, 0.25);
    }
  }
}

.projects {
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;

  >.project:not(.before) {
    padding-left: .25em;
  }

  >.project:not(.after) {
    padding-right: .25em;
  }

  >.project {
    padding-top: .5em;
    padding-bottom: .5em;

    &.before>article {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.after>article {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    >article {
      margin: 0;
      border: 2px solid transparent;
      transition: border .2s;
      padding: 0;

      >details {
        padding: inherit;
        margin-bottom: 0;

        &[open]>article {
          overflow: auto;

          >table {
            min-width: 350px;
          }
        }

        >summary {
          cursor: pointer;
          padding: var(--pico-spacing);
          margin-bottom: 0;

          >b {
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
            ;
          }

          &::after {
            filter: brightness(0.2);
          }

          &:not(:hover),
          &:hover {
            color: white;
          }
        }

        >summary,
        >article {
          margin: 0;
        }

        >article {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          color: var(--pico-color);
        }
      }

      &:hover {
        border-color: rgba(255, 255, 255, 0.5);
      }

      &.status-planning {
        background: darkgoldenrod;
      }

      &.status-approving {
        background: purple;
      }

      &.status-active {
        background: cornflowerblue;
      }

      &.status-canceled {
        background: slategray;
      }

      &.status-completed {
        background: palegreen;
      }
    }

    &.before>article {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-width: 0;
    }

    &.after>article {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;
    }
  }
}